<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>WT | Password Reset Sent</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">

        <style>
            .form-layout{
              width: 500px;  
              border-radius: 10px;  
            }

        </style>

    </head>



    <body>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Password reset sent</h3>

            <br>

            <p> We have emailed a password reset link to your email address</p>
           
        </div>
    
    <body>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    

</html>



















































