<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>WT | Password Reset Complete</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">

        <style>
            .form-layout{
              width: 500px;  
              border-radius: 10px;  
            }

        </style>

    </head>



    <body>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Password Reset Complete</h3>

            <br>

            <p>Your password has been set. You may now login </p>

            <a href=" {% url 'login' %} " class="btn btn-success" type="submit">Login</a>

           
        </div>
    
    <body>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    

</html>

















































































