<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>WT | Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">

        <style>
            .form-layout{
              width: 500px;  
              border-radius: 10px;  
            }

            .message-text{

                color: white;
            }

        </style>

    </head>
    <body>

        <div class="container bg-white shadow-md p-5 form-layout">
            
            <form method="POST" autocomplete="off">

                {% csrf_token %}

                <h3>Login  your account</h3>

                <br><br>
                {{ form|crispy }}

                <button type="submit" class="btn btn-success btn-lg">&nbsp; Login</button>
            </form>
            <br>

            
            {% for message in messages %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                    <p id="message-tmr" class="alert alert-success float-center message-text ">

                    {{ message }}

                    <p>

                {% endif %}

            {% endfor %}

            <br>

            <div class="text-center">
                <p> Dont have an account </p> <a href="{% url 'register' %}">Register</a>
            </div>

            <br>

            <div class="text-center">
                <a href="{% url 'reset_password' %}">Forgotten your password?</a>
            </div>
        
        </div>
    
    <body>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    

</html>