<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>WT |Update Thought</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">

        <style>
            .form-layout{
              width: 500px;  
              border-radius: 10px;  
            }

            .message-text{

                color: white;
            }

        </style>

        
        {% include 'base.html' %} 





    </head>

<div class="container bg-white shadow-md p-5 form-layout">
            
    <form method="POST" autocomplete="off">

        {% csrf_token %}

        <h3>Update your Thought</h3>

        <br><br>
        {{ form|crispy }}

        <button type="submit" class="btn btn-success btn-lg">UPDATE</button>
    </form>
    <br>


</div>